# Ignore files built by AppCode
.idea/

# Ignore files built by Xcode
xcuserdata/
.DS_Store

# Hudson
_DailyBuilds/
Packaging/buildNumber
buildNumber
MasterCameraPackages
sourceid.dat
crashlytics_failed

# Derived Data
DerivedData/*

